html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 30fr 1fr;
    grid-template-areas: 
            ". header ."
            ". ball ."
            ". footer .";
}

header {
    grid-area: header;
}

#ball-canvas {
    grid-area: ball;
 
}

footer {
    grid-area: footer;
}