html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 30fr 1fr;
    grid-template-areas: 
            ". header ."
            ". main ."
            ". footer .";
}

header {
    grid-area: header;
    display: inline-block;
    text-align: left;
    margin-top: 50px;
}

#logo {
    width: 65%;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4vw;
    box-shadow: none;
    border-style: solid;
    border-color: slategrey;
    background-color: white;
    color: slategrey;
    margin: auto;
    outline: none;
    height: 70%;
    width: 70%;
    transition: 100ms;
}

button:hover {
    height: 66%;
    width: 66%;
    cursor: pointer;
}

button:active {
    height: 64%;
    width: 64%;
}

.button-focus {
    font-weight: bolder;
    border-width: 2px;
}

header.span {
    text-align: center;
    margin-top: 50px;
}



#main-module {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "buttons ball";
}

.buttons {
    grid-area: buttons;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
                    "." 
                    "start25"
                    "start5"
                    "stop"
                    "underStop";
}

.more-info-container {
    grid-template-areas: 
                    "x"
                    "info"
                    "info"
                    "info"
                    "." !important;
    margin: auto;
}

.more-info-shown {
    grid-area: info;
    display: inline !important;
    text-align: left !important;
}

.x-box-shown {
    grid-area: x;
    display: grid !important;
    margin: auto;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 4vw;
    padding-top: 5vw;
}

#start-25 {
    grid-area: start25;
    display: grid;
}

#start-5 {
    grid-area: start5;
    display: grid;
}

#stop {
    grid-area: stop;
    display: grid;
}

#stop.button {
    font-weight: normal;
}

.text-info {
    color: #300;
    display: inline;
    margin: auto;
    text-align: center;
    line-height: 2vw;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3vw;
}

#instructions {
    height: 70%;
    width: 70%;
}

#under-stop {
    grid-area: underStop;
    margin-top: 2px;
    color: grey;
}

#ball-canvas {
    grid-area: ball;
}

footer {
    grid-area: footer;
    height: 2vw;
}