html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 10fr 30fr 1fr;
    grid-template-areas: 
            ". header ."
            ". main ."
            ". footer .";
}

header {
    grid-area: header;
    display: inline;
    text-align: left;
    margin-top: 50px;
    margin-left: 190px;
    font-size: 12pt;
}

button {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: none;
    border-style: solid;
    border-color: slategrey;
    color: slategrey;
    margin: auto;
    outline: none;
    height: 70%;
    width: 70%;
    transition: 100ms;
}

button:hover {
    height: 65%;
    width: 65%;
}

button:active {
    height: 60%;
    width: 60%;
}

button:focus {
    font-weight: bolder;
    border-width: 2px;
}

header.span {
    text-align: center;
    margin-top: 50px;
}



#main-module {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "buttons ball";
}

#buttons {
    grid-area: buttons;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
                    "." 
                    "start25"
                    "start5"
                    "stop"
                    ".";
}

#start-25 {
    grid-area: start25;
    display: grid;
}

#start-5 {
    grid-area: start5;
    display: grid;
}

#stop {
    grid-area: stop;
    display: grid;
}

#stop.button {
    font-weight: normal;
}

#instructions {
    color: #300;
    display: inline;
    margin: auto;
    height: 70%;
    width: 70%;
    text-align: center;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;

}

#ball-canvas {
    grid-area: ball;
}

footer {
    grid-area: footer;
    height: 2vw;
}